// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-login {
    background-color: white !important;
    color: $pink !important;
    font-weight: 700 !important;
}

.btn-register {
    background-color: #49c5b9 !important;
    border: none !important;
    font-weight: 700 !important;
}

.my-link-nav {
    color: white !important;
    text-decoration: none !important;

    &:hover {
        p {
            font-weight: 700 !important;
        }
    }
}
.nav-profile-link {
    text-decoration: none !important;
    color: $blue !important;
}

.my-account-data {

    p {
        margin-top: 5px;
        margin-left: 10px;
    }
}

.btn-block {
    display: block !important;
}

.btn-outlined-green {
    background: white;
    color: $green;
    border: 1px solid $green;
}

.btn-contained-green {
    background: $green !important;
}

.color-blue {
    color: $blue !important;
}

.thick-blue-border {
    border: 2px solid $blue;
}

.normal-round-border {
    border-radius: 8px;
}
